# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ-related
*.iml
*.ipr
*.iws
.idea/

# Android-related
**/android/app/gradlew
**/android/app/gradlew.bat
**/android/local.properties
**/android/key.gradle
**/android/app/local.properties
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# iOS-related
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/

# Flutter/Dart matching
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio plugin files
android/app/debug
android/app/profile
android/app/release
